main {
    font-family: 'Amulya', sans-serif;
    font-size: 30px;
    background-color: #636d74;
}

.gallery {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: rgb(0, 0, 0);
}

.gallery figure {
    background-color: aliceblue;
    flex: 1 1 clamp(20ch, calc(1 / 4 * 100%), 100%);
    border: 0.5rem solid white;
    padding: 2rem;
}

.gallery figure, 
.gallery img {
  width: 100%;
  height: 100%;
}

.gallery header {
    font-family: 'Synonym', sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding-top: 1rem;
}

span {
    font-weight: 700;
}